<br />
<h4>Books for Product Lovers</h4>

<div class="row">
  <div class="col-lg-3 col-sm-5"><!-- book 1 -->
    <p><strong><a target="_" href="http://www.amazon.com/gp/product/B00HJ4A43S/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00HJ4A43S&linkCode=as2&tag=pmft-20">Hooked</a></strong></p>
    <p><small>How to Build Habit-Forming Products</small></p>
    <a target="_" href="http://www.amazon.com/gp/product/B00LMGLXTS/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00LMGLXTS&linkCode=as2&tag=pmft-20&linkId=2J5PCSQJ7AA4K3PB"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00LMGLXTS&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmft-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B00LMGLXTS" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Nir Eyal</p>
  </div>
  <div class="col-lg-3 col-sm-5"><!-- book 2 -->
    <p><strong><a target="out" href="http://www.amazon.com/gp/product/B007V65PBK/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B007V65PBK&linkCode=as2&tag=pmfatr-20">Mastery</a></strong></p>
    <p><small>How to go about attaining mastery in life</small></p>
    <a target="out" href="http://www.amazon.com/gp/product/B007V65PBK/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B007V65PBK&linkCode=as2&tag=pmfatr-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B007V65PBK&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmfatr-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmfatr-20&l=as2&o=1&a=B007V65PBK" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Robert Greene</p>
  </div>
  <div class="col-lg-3 col-sm-5"><!-- book 3 -->
    <p><strong><a target="out" href="http://www.amazon.com/gp/product/0981690408/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0981690408&linkCode=as2&tag=pmfatr-20">Inspired</a></strong></p>
    <p><small>How to Create Products Customers Love</small></p>
    <a target="out" href="http://www.amazon.com/gp/product/0981690408/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=0981690408&linkCode=as2&tag=pmfatr-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0981690408&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmfatr-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmfatr-20&l=as2&o=1&a=0981690408" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Marty Cagan</p>
  </div>
  <div class="col-lg-3 col-sm-5"><!-- book 4 -->
    <p><strong><a target="out" href="http://www.amazon.com/gp/product/B002MUAJ2A/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002MUAJ2A&linkCode=as2&tag=pmfatr-20">Rework</a></strong></p>
    <p><small>About rethinking how we work and build</small></p>
    <a target="out" href="http://www.amazon.com/gp/product/B002MUAJ2A/ref=as_li_ss_il?ie=UTF8&camp=1789&creative=390957&creativeASIN=B002MUAJ2A&linkCode=as2&tag=pmfatr-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B002MUAJ2A&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmfatr-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmfatr-20&l=as2&o=1&a=B002MUAJ2A" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Jason Fried and David H. Hansson</p>
  </div>
</div>

<div class="row">
  <div class="col-lg-3 col-sm-5"><!-- book 5 -->
    <p><strong><a target="out" href="http://www.amazon.com/gp/product/1449389554/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=1449389554&linkCode=as2&tag=pmft-20">Hackers and Painters</a></strong></p>
    <p><small>Big Ideas from the Computer Age</small></p>
    <a target="out" href="http://www.amazon.com/gp/product/B0026OR2NQ/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B0026OR2NQ&linkCode=as2&tag=pmft-20&linkId=SREFUY7GK2IK3Q34"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B0026OR2NQ&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmft-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B0026OR2NQ" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Paul Graham</p>
  </div>

  <div class="col-lg-3 col-sm-5"><!-- book 6 -->
    <p><strong><a target="_" href="http://www.amazon.com/gp/product/0385517254/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0385517254&linkCode=as2&tag=pmft-20&linkId=VM4RSPZS46TPIXMR">The Fifth Discipline</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=0385517254" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></strong></p>
    <p><small>The Art & Practice of The Learning Organization</small></p>
    <a target="_" href="http://www.amazon.com/gp/product/0385517254/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=0385517254&linkCode=as2&tag=pmft-20&linkId=VM4RSPZS46TPIXMR"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=0385517254&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmft-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=0385517254" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Peter Senge</p>
  </div>

  <div class="col-lg-3 col-sm-5"><!-- book 7 -->
    <p><strong><a target="_" href="http://www.amazon.com/gp/product/B00IGIUMQ0/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00IGIUMQ0&linkCode=as2&tag=pmft-20">Decode and Conquer</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B00IGIUMQ0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></strong></p>
    <p><small>Answers to Product Management Interviews</small></p>
    <a target="_" href="http://www.amazon.com/gp/product/B00IGIUMQ0/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00IGIUMQ0&linkCode=as2&tag=pmft-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00IGIUMQ0&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmft-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B00IGIUMQ0" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Lewis Lin</p>
  </div>

  <div class="col-lg-3 col-sm-5"><!-- book 8 -->
    <p><strong><a target="_" href="http://www.amazon.com/gp/product/B00DQ845EA/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00DQ845EA&linkCode=as2&tag=pmft-20">The Hard Thing About Hard Things</a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B00DQ845EA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" /></strong></p>
    <p><small>Building a Business When There Are No Easy Answers</small></p>
    <a target="_" href="http://www.amazon.com/gp/product/B00DQ845EA/ref=as_li_tl?ie=UTF8&camp=1789&creative=390957&creativeASIN=B00DQ845EA&linkCode=as2&tag=pmft-20"><img border="0" src="http://ws-na.amazon-adsystem.com/widgets/q?_encoding=UTF8&ASIN=B00DQ845EA&Format=_SL110_&ID=AsinImage&MarketPlace=US&ServiceVersion=20070822&WS=1&tag=pmft-20" ></a><img src="http://ir-na.amazon-adsystem.com/e/ir?t=pmft-20&l=as2&o=1&a=B00DQ845EA" width="1" height="1" border="0" alt="" style="border:none !important; margin:0px !important;" />
    <p>Ben Horowitz</p>
  </div>

</div>

<br />
<h4>Essays and Blogs on Product Management</h4>
<ul>
  <li><a target="_" href="http://benhorowitz.files.wordpress.com/2010/05/good-product-manager.pdf">Good Product Manager, Bad Product Manager</a> by Ben Horowitz.</li> (Also found as a chapter in the book Hard Things)
  <li><a target="_" href="http://www.quora.com/Product-Management/What-distinguishes-the-Top-1-of-Product-Managers-from-the-Top-10">Top 1% Product Manager</a> by Ian McAllister Quora.</li>
  <li><a target="_" href="http://pmblog.quora.com/">Art of Product Management</a> by Jackie Bavaro.</li>
  <li><a target="_" href="https://medium.com/yammer-product">Yammer Product blog</a> by product team at Yammer.</li>
</ul>

