<h4>Past Events Media</h4>
<ul>
  <li>2014 August 21 - video: <a target="_" href="http://youtu.be/7Ed2xWOYi-g">Why Your Projects Fail with John Cwikla</a> (event <a target="_" href="http://pmft-giantpixel.eventbrite.com">link</a>)</li>
  <li>2014 August 18 - slides: <a target="_" href="http://www.slideshare.net/PMFastTrack/web-product-management-tools">Web Product Management with Pivotal Tracker</a> (event <a target="_" href="http://youtu.be/Gm1a1B10KlU">video</a> and <a target="_" href="http://pmft-pivotaltracker.eventbrite.com">link</a>)</li>
  <li>2014 June 5 - video: <a target="_" href="http://youtu.be/oSIrtCP-Gn4">Reading Hooked</a> (event <a target="_" href="http://www.meetup.com/ProductManagementFastTrack/events/185249032/">link</a>)</li>
  <li>2014 May 29 - Mobile Product Teardown slides - <a target="_" href="http://www.slideshare.net/PMFastTrack/product-teardown-workshop-carousel-vs-flickr">Carousel vs Flickr</a></li>
  <li>2014 May 6 - video: <a target="out" href="http://goo.gl/BlDcdF">How to Drive Product Success</a> by Teresa Torres (event <a target="out" href="http://goo.gl/r7QTvw">link</a>)</li>
  <li>2014 May 1 - Hackers and PMs - <a target="out" href="http://goo.gl/ig7yI4">Sutterbus summary</a> by Ravi Singh (event <a target="out" href="http://goo.gl/yPBJrZ">link</a>)</li>
  <li>2014 April - Mobile Product Teardown slides - <a target="out" href="http://goo.gl/7SKC6J">Airbnb & Hotel Tonight</a>
  <li>2014 March - Yammer's Neil McCarthy on <a target="_" href="http://goo.gl/3mQUYx">Analytics: Measure or Die</a> slides and <a target="_" href="http://youtu.be/YSHgsmdf95E">video</a></li>
  <li>2013 July - slides: <a target="_" href="http://goo.gl/PHpRN7">How to Get a Job in Product Management</a> by Jason Shah</li>
</ul>

{% include _reading.html %}
<br />

<br />
<h4>Design Related</h4>
<ul>
  <li><a target="_" href="http://www.ideo.com/work/human-centered-design-toolkit/">IDEO Human-Centred Design Toolkit</a> <small>(Designed for social enterprises)</small></li>
  <li><a target="_" href="./files/visualization_tools_for_MBAs.pdf">Visualization Tools for MBAs</a> <small>(PDF file will open in a new window)</small></li>
</ul>

<br /><br />
<!-- <h4>Tech for Product Managers</h4>
<ul>
  <li>Coming in future. Modern web-stack for non-technical product managers. If interested, share your interest <a target="_" href="http://goo.gl/JoqYkD">via this form</a>.</li>
</ul> -->
