{% include _reading.html %}

<br />
<h4>Past Events Media</h4>
<ul>
  <li>2014 March - Yammer's Neil on <a target="_" href="http://goo.gl/3mQUYx">Analytics: Measure or Die Slides</a></li>
  <li>2014 March - Yammer's Neil on <a target="_" href="http://youtu.be/YSHgsmdf95E">Analytics: Measure or Die Video</a></li>
  <li>2013 July - Jason on <a target="_" href="http://goo.gl/PHpRN7">How to Get a Job in Product Management</a></li>
</ul>

<br />
<h4>Design Related</h4>
<ul>
  <li><a target="_" href="http://www.ideo.com/work/human-centered-design-toolkit/">IDEO Human-Centred Design Toolkit</a> <small>(Designed for social enterprises)</small></li>
  <li><a target="_" href="./files/visualization_tools_for_MBAs.pdf">Visualization Tools for MBAs</a> <small>(PDF file will open in a new window)</small></li>
</ul>

<br />
<h4>Tech for Product Managers</h4>
<ul>
  <li>Coming in future. Modern web-stack for non-technical product managers. If interested, share your interest <a target="_" href="http://goo.gl/JoqYkD">via this form</a>.</li>
</ul>

<!-- <h4>Markdown</h4>
<ul>
  <li><a target="_" href="http://daringfireball.net/projects/markdown/syntax">Markdown Syntx</a> <small>(Daring Fireball)</small></li>
  <li><a target="_" href="https://gist.github.com/">GithubGist</a> <small>(allows you to write/test directly in markdown and make little gists)</small></li>
</ul>

<h4>Product Managers and Blogs</h4>
<ul>
  <li><a target="_" href="http://pmblog.quora.com/">The Art of Product Management</a> <small>(By Jackie Bavaro, team Asana)</small></li>
</ul> -->
<br><br>
