<p>If you find any value and encouragement in the <a target="_blank" href="http://productmanagementfasttrack.com/pages/archive.html">PMFT Digest</a>, please consider becoming a Supporter with a small recurring or one-time donation of your choosing, between a cup of coffee and a mission taco.
</p>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="2N2PA6WABWKEG">

<table>
  <tr>
    <td>
      <input type="hidden" name="on0" value="">
    </td>
  </tr>
  <tr>
    <td>
      <select name="os0">
        <option value="**">** : $5.00 USD - monthly</option>
        <option value="*">* : $2.00 USD - monthly</option>
        <option value="***">*** : $10.00 USD - monthly</option>
        <option value="****">**** : $25.00 USD - monthly</option>
      </select>
    </td>
  </tr>
</table>

<input type="hidden" name="currency_code" value="USD"><br />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_subscribeCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>

<br />
<h5>One-time donation</h5>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
<input type="hidden" name="cmd" value="_s-xclick">
<input type="hidden" name="hosted_button_id" value="D57BXET6KNYX6">
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" name="submit" alt="PayPal - The safer, easier way to pay online!">
<img alt="" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
</form>
