<nav class="navbar-inverse navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{BASE_PATH}}/">PM Fast Track</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-ex1-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        Newsletter
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="{{BASE_PATH}}/blog/">Current</a></li>
                        <li><a href="{{BASE_PATH}}/pages/archive.html">Archive</a></li>
                    </ul>
                </li>
                <li><a href="{{BASE_PATH}}/resources/">Resources</a></li>
                <li><a href="{{BASE_PATH}}/training/">Training</a></li>
                <li><a href="{{BASE_PATH}}/pages/about.html">About</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
