<h2 class="social">
  <a class="ss-icon ss-social-circle icon" target="_" href="https://twitter.com/PMFastTrack">twitter</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="https://www.linkedin.com/groups/Product-Management-Fast-Track-4952002">linkedin</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="https://plus.google.com/100894017458544247897" rel="publisher">googleplus</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="http://facebook.com/productmanagementfasttrack">facebook</a>
  <a class="ss-icon ss-social-circle icon" target="_" href="http://feeds.feedburner.com/PMFastTrackBlog">rss</a>
</h2>
