---
layout: page
title: "Resources"
tagline: "Concepts, Tools, Links"
description: "Resources and summary notes for product managers from Product Management Fast Track."
---
{% include setup %}

<p class="lead">PM Fast Track community educates and connects aspiring and current product managers. This page is intended to aggregate resources we collect and share through our blog posts and meetup events, including slides, videos, and books mentioned.</p>

{% include resources.html %}

<a href="../../">
  <button type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon-home"></span> Back Home
  </button>
</a>
<br />




