---
layout: page
title: "Resources"
tagline: "Concepts, Tools, Links"
description: "Resources and summary notes for product managers from Product Management Fast Track."
---
{% include setup %}

<p class="lead">Do you have <a target="out" href="http://goo.gl/9FFpkg">something to share</a>? Also <a class="topic" target="_" href="http://goo.gl/G9W27t">subscribe</a> to our newsletter and get it in your inbox.</p>

{% include _resources.html %}

<a href="../../">
  <button type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon-home"></span> Back Home
  </button>
</a>
<br />




