---
layout: page
title: "Resources"
tagline: "Concepts, Tools, Links"
description: "Resources and summary notes for product managers from Product Management Fast Track."
---
{% include setup %}

<p class="lead">PM Fast Track community educates and connects aspiring and current product managers. This page is to aggregate and share resources with the wider community. Do you have something to share? Please let us know via this <a target="out" href="http://goo.gl/9FFpkg">reading suggestion form</a>.</p>

{% include _resources.html %}

<a href="../../">
  <button type="button" class="btn btn-warning">
    <span class="glyphicon glyphicon-home"></span> Back Home
  </button>
</a>
<br />




