---
layout: blog
title: "Newsletter"
---

<p class="lead">Don't miss our newsletter. Stay connected via <a class="topic" target="_" href="http://feeds.feedburner.com/PMFastTrackBlog">RSS</a> or <a class="topic" target="_" href="http://goo.gl/G9W27t">subscribe</a> to get it in your inbox.
</p>

<h3><a href="{{site.posts[0].url}}">{{site.posts[0].title}}</a></h3>

  {{ site.posts[0].content }}

<h3>Recent posts</h3>
<ul>
{% for post in site.posts limit: 5 %}
  <li><p>{{ post.date | date: "<small style='color: gray;'>%Y %b %d</small>"}}: <a href="{{ post.url }}">{{post.title}}</a></p></li>
{% endfor %}
</ul>

<br />

{% include comments %}
